/* Back-end css */
i.mce-i-icon {
    font: 400 20px/1 dashicons;
	color: #e02b20 !important;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}

/* Front-end css */
[id ^= bg-showmore-pro-hidden] {
	display: none;
}

[id ^= bg-showmore-pro-hidden].bg-showmore-open {
	display: block;
}


a[id ^= bg-showmore-action], a[id ^= bg-showmore-action]:focus {
	outline: none;
	box-shadow: none !important;
}

button.bg-showmore-plg-button {
	width:initial;
}

button.bg-green-button {
	background-color:#77b243;
	border-radius:4px;
	border:1px solid #77B243;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 0.9em;
	padding: 0.8em 1.6em;
	margin-top: 10px;
	font-family:Arial;
	text-decoration:none;
}
button.bg-green-button:hover, button.bg-green-button:focus {
	background-color:#81db51;
}
button.bg-green-button:active {
	position:relative;
	top:1px;
}

button.bg-red-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	text-transform: none;
	letter-spacing: normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button.bg-red-button:hover, button.bg-red-button:focus {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
	outline: none;
}
button.bg-red-button:active {
	position:relative;
	top:1px;
	border-top: none;
	border:1px solid #d83526;
	padding: 6px 24px;
}

button.bg-orange-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	text-transform: none;
	letter-spacing: normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button.bg-orange-button:hover, button.bg-orange-button:focus{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
	outline: none;
}
button.bg-orange-button:active {
	position:relative;
	top:1px;
	border-top: none;
	border:1px solid #ffaa22;
	padding: 6px 24px;
}

button.bg-blue-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
button.bg-blue-button:hover, button.bg-blue-button:focus {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
	outline: none;
}
button.bg-blue-button:active {
	position: relative;
	top: 1px;
	border-top: none;
	border: 1px solid #337fed;
	padding: 6px 24px;
}

button.bg-showmore-plg-button:before, a.bg-showmore-plg-link:before,
button.bg-eye:before, button.bg-plus:before,
button.bg-arrow:before, button.bg-zoom:before {
    font-family: Genericons;
	position:relative;
	padding-right: 4px;
}
a.bg-showmore-plg-link:before {
	text-decoration: none;
	display: inline-block;
}
button.bg-showmore-plg-button.bg-arrow:before, a.bg-showmore-plg-link.bg-arrow:before,
button.bg-arrow:before {
	content: "\f502";
	font-size: 10px;
    display: inline;
	bottom: -2px;
}

a.bg-showmore-plg-link.bg-plus.icon-with-background:before {
    margin-right: 8px;
    padding: 5px;
	font-size: 12px;
	bottom: 0;
}

button.bg-showmore-plg-button.bg-plus:before, a.bg-showmore-plg-link.bg-plus:before,
button.bg-plus:before {
	content: "\f510";
    display: inline;
	bottom: -2px;
}

a.bg-showmore-plg-link.bg-plus {
	margin-bottom:20px;
}

button.bg-showmore-plg-button.bg-plus.bg-close:before, a.bg-showmore-plg-link.bg-plus.bg-close:before,
button.bg-plus.bg-close:before {
	content: "\f50e";
}

button.bg-showmore-plg-button.bg-arrow.bg-close:before, a.bg-showmore-plg-link.bg-arrow.bg-close:before,
button.bg-arrow.bg-close:before {
	content: "\f500";
	font-size: 10px;
	bottom: 4px;
}
button.bg-showmore-plg-button.bg-zoom:before, a.bg-showmore-plg-link.bg-zoom:before,
button.bg-zoom:before {
	content: "\f402";
	font-size: 16px;
	bottom: -2px;
}
a.bg-showmore-plg-link.bg-zoom.icon-with-background:before{
    padding: 0px 5px 0 5px;
	margin-right: 8px;
	bottom:0;
}
a.bg-showmore-plg-link.bg-eye.icon-with-background:before{
	margin-right: 8px;
    padding: 5px;
    display: inline;
}
a.bg-showmore-plg-link.bg-arrow.icon-with-background.bg-close:before{
	padding: 4px 8px 10px 8px;
	margin-right: 8px;
}
a.bg-showmore-plg-link.bg-arrow.icon-with-background:before{
	margin-right: 8px;
    padding: 10px 8px 4px 8px;
}

a.bg-showmore-plg-link.icon-with-background:hover:before, a.bg-showmore-plg-link.icon-with-background:active:before, a.bg-showmore-plg-link.icon-with-background:focus:before {
	background: #0071bb !important;
}

button.bg-showmore-plg-button.bg-zoom.bg-close:before, a.bg-showmore-plg-link.bg-zoom.bg-close:before,
button.bg-zoom.bg-close:before {
	content: "\f401";
	font-size: 16px;
}
button.bg-showmore-plg-button.bg-eye:before, a.bg-showmore-plg-link.bg-eye:before,
button.bg-eye:before {
	content: "\f403";
	font-size: 16px;
	bottom: -2px;
}

button.bg-showmore-plg-button.bg-eye.bg-close:before, a.bg-showmore-plg-link.bg-eye.bg-close:before,
button.bg-eye.bg-close:before {
	content: "\f404";
	font-size: 16px;
}

ul.bg-showmore-no-padding-no-margin {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.bg-showhide-p, span.bg-showmore-pro-hidden {
	display: block;
}

.ui-effects-wrapper {
	width: auto !important;
}
