/*
Theme Name:   Zox News Child
Theme URI:    https://themeforest.net/user/mvpthemes/
Description:  Zox News Child Theme
Author:       MVP Themes
Author URI:   https://themeforest.net/user/mvpthemes/portfolio
Template:     zox-news
Version:      1.0.4
License:      GNU General Public License v3 or later
License URI:  http://www.gnu.org/licenses/gpl-3.0.html
Tags:         two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain:  zox-news-child
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

/* author-date block styling */

.vce-author-block, .vce-author-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Fira Sans", Tahoma, sans-serif;
}

.vce-author-block {
    margin-top: 0;
}

.vce-author-info-text, .vce-author-info-date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    width: 100%;
}

.vce-author-name {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #858585;
}

.vce-author-name.vce-author-name-main {
    padding-left: 10px;
    margin-left: 0;
    border: none;
}

#mvp-content-main h2.contributor-category-block {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #76b243;
}

#mvp-content-main ul.contributor-list-block {
    margin: 0;
    list-style: none;
    list-style-position: inside;
}

#mvp-content-main ul li.contributor-card-block {
    list-style: none;
    margin: 0;
    padding-top: 0;
    font-family: "Fira Sans", Tahoma, sans-serif;
}

#mvp-content-main .contributor-name-block a {
    margin: 0;
    font-size: 16px;
    color: #656565;
    font-weight: 700;
}

.vce-author-info-date {
    margin-top: 8px;
    padding-left: 17.5px;
}

.vce-author-info-date .mvp-post-date {
    font-weight: 400;
    color: #555;
    font-size: 14px;
}

#mvp-content-main .vce-author-info-date a.vc-comment-count {
    font-size: 14px;
}

.vce-date-bullet {
    margin: 0 10px;
    color: #757575;
    font-size: 20px;
    transform: translatey(-5px);
}

header .vce-date-bullet {
    transform: translatey(-2px);
}

.vce-author-info-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 2% 0 2.5% 0;
}

header .vce-author-info-block {
	padding-top: 2%;
	width: 100%;
}

.mvp-post-comment-count {
    display: block;
    width: 100px;
    height: 25px;
    position: absolute;
    z-index: 999999;
}

.vc-sp-sponsored-heading {
	float: right;
	font-size: 1.5rem;
	font-family: "fira Sans", Tahoma, sans-serif;
	padding-top: 2px;
	text-transform: uppercase;
}

@media (max-width: 600px) {
	.vc-sp-sponsored-heading {
		font-size: 20px;
	}

    .vce-author-info-text, .vce-author-info-date {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 0;
        width: 100%;
    }

	header .vce-author-info-text, .vce-author-name:first-child, header .vce-author-info-date span.mvp-post-date {
		padding-bottom: 2%;
	}

    .vce-date-bullet {
        display: none;
    }
}

/* LEGACY ADDITIONAL CSS */
.single #mvp-content-main .nc_socialPanel {
	display:none;
}

/* span.mvp-nav-search-but {
display:none;	
} */

.mvp-fixed span.mvp-nav-search-but {
float:none;
	padding:5px 10px;
	color:#fff;
	display:inline-block;
}

.flyout-search #searchform input {
	    width: 83%;
    margin: 0 auto;
    display: block;
    float: none;
	border:1px solid #76b243;
	height:30px;
	font-size:30px;
	padding:5px 10px;
}

nav.mvp-fly-nav-menu {
	top:58px;	
}

.mvp-nav-top-mid {
	z-index:9;
}

.mvp-post-soc-in {
    margin-left: 0;
}

h1.mvp-post-title {
	width:100%;
}

.mvp-nav-top-left {
	width:300px;
	z-index:10;
}

.mvp-nav-top-right {
	width:321px;
	text-align:right;
}

.mvp-nav-top-right .mc4wp-form label, .mvp-nav-top-right .mc4wp-form input {
	display:inline-block;
	width:auto;
}

.mvp-nav-top-right .mc4wp-form input[type=email] {
max-width:50%;	
}

.mvp-nav-top-right .mc4wp-form label {
	color:white;
}

.mvp-nav-small .mc4wp-form {
	margin:0!important;
}

.mvp-nav-soc-wrap .fa-linkedin:hover {
	background:#0077B5;
}

.fa-rss:hover {
	background:#F0941A;
}

.mvp-feat5-side-list .mvp-feat1-list-img:after {
	margin:8px 0 0;
}

#mvp-home-widget-wrap {
	margin-bottom:0;
}

#mvp-feat5-wrap {
	margin:0 0 30px;
}

#mvp-post-feat-img {
	display:none;
}

.mobile-subscribe {
	display:none;
}

#mvp-content-main blockquote p, .mvp-post-add-main blockquote p {
	font-size:1.4rem;
	margin:30px 5%;
	font-style:italic;
	color:#75B243;
}

.menu-invert a {
    color: #ffffff!important;
    background: #000000;
    padding: 7px 12px 5px!important;
    margin-bottom: 13px;
}

.menu-invert:hover a {
	border-bottom:0px!important;	
	background:#75B243;
}

.menu-invert ul.sub-menu {
	background:#000000!important;
	top:36px!important;	
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a {
background:#000000!important;	
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a img {
-webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
	 -webkit-transition: all .5s; 
  transition: all .5s;
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a:hover img {
-webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

.mvp-nav-menu ul li.menu-invert a:after, .elementor-form br, .elementor-element br {
	display:none!important;
}

.mvp-fly-soc-list span.mvp-nav-search-but {
	color: white;
    float: none;
    padding: 5px;
	display:inline-block;
}

#mvp-content-main ul li, #mvp-content-main ol li, .mvp-post-add-main ul li, .mvp-post-add-main ol li {
    margin-left: 30px;
}

#mvp-content-main blockquote p, .mvp-post-add-main blockquote p {
    font-size: 1.5em;
}

#mvp-feat6-wrap {
	max-width:100%!important;
	}

.mc4wp-form input[type="submit"], .mc4wp-form button {
	background-color: #75b33b!important;
    border-color: #619f27!important;
	    border-radius: 2px!important;
}

@media screen and (max-width:1169px) {
	
	#mvp-main-nav-bot, .mvp-nav-soc-wrap, .mvp-nav-logo-reg, #mc4wp-form-1 {
	display:none;	
	}

#mvp-main-nav-top, .mvp-nav-top-wrap, .mvp-nav-top-mid {
height:30px!important;	
}

.mvp-nav-top-mid img {
height:100%!important;	
}

.mvp-nav-logo-small, .mvp-nav-top-left .mvp-fly-but-wrap {
display:inline;	
}

.mvp-nav-top-left .mvp-fly-but-wrap span {
background:#ffffff;	
}

.mobile-subscribe {
		display:block!important;
		padding-top:2%;
	}

	.mobile-subscribe a {
		color:#ffffff;
	font-weight:normal;
	}

.mobile-subscribe a:hover {
color:#75B243;	
}
	
	}

@media screen and (min-width:1004px) and (max-width:1099px) {
	
	#mvp-feat6-wrap {
		max-width:100%!important;
		}
	
	}

@media screen and (min-width:1003px) {
	
	.left span.mvp-nav-search-but {
		display:none;
	}

	.mvp-fixed span.mvp-nav-search-but, .mvp-nav-bot-right span.mvp-nav-search-but {
		display:inline-block;
	}
	
}

@media screen and (max-width:1003px) {

	#mvp-main-nav-small .mvp-fly-but-wrap span, #mvp-main-nav-small .mvp-search-but-wrap span, .mvp-nav-top-left .mvp-fly-but-wrap span, #mvp-fly-wrap .mvp-fly-but-wrap span {
	background:#ffffff;	
	}

.mvp-nav-top-left {
width:auto;
}
	
}

@media screen and (max-width:967px) {
	
	.mvp-nav-top-right .mc4wp-form {
		display:none!important;	
	}

}

@media screen and (min-width:768px) and (max-width:899px) {
	
#mvp-feat6-wrap {
		max-width:100%!important;
		}
	
}

@media screen and (max-width: 599px) and (min-width: 480px) {

	.mvp-nav-top-right .mvp-nav-search-but {
		display:none!important;
	}
	
}

@media screen and (max-width:479px) {

	#mvp-feat6-wrap {
	max-width:100%!important;	
	}

	.mvp-reg-img {
		display:block!important;
	}

.mvp-mob-img {
	display:none!important;
}
}

.jdbutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 17px 50px;
    border: 0px solid #240d54;
    border-radius: 67px;
    background: #280e5d;
    background: -webkit-gradient(linear, left top, left bottom, from(#280e5d), to(#240d54));
    background: -moz-linear-gradient(top, #280e5d, #240d54);
    background: linear-gradient(to bottom, #280e5d, #240d54);
    text-shadow: #14072f 1px 1px 1px;
    font: normal normal bold 28px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
}
.jdbutton:hover,
.jdbutton:focus {
    border: 0px solid #280e5d;
    background: #301170;
    background: -webkit-gradient(linear, left top, left bottom, from(#301170), to(#2b1065));
    background: -moz-linear-gradient(top, #301170, #2b1065);
    background: linear-gradient(to bottom, #301170, #2b1065);
    color: #ffffff;
    text-decoration: none;
}
.jdbutton:active {
    background: #180838;
    background: -webkit-gradient(linear, left top, left bottom, from(#180838), to(#240d54));
    background: -moz-linear-gradient(top, #180838, #240d54);
    background: linear-gradient(to bottom, #180838, #240d54);
}

table.greentable {
  border: 1px solid #76b243;
  background-color: #f5f5f5;
  width: 720px;
  text-align: center;
}
table.greentable td, table.greentable th {
  border: 3px solid #76b243;
  padding: 15px 0px;
}
table.greentable tbody td {
  font-size: 13px;
}
table.greentable tfoot td {
  font-size: 14px;
}
table.greentable tfoot .links {
  text-align: right;
}
table.greentable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
a.imagelink {
  border-bottom:0px;
	box-shadow: none !important;
}
.li-table {
	width:75%;
	overflow:auto;
}

.licensing {
	display:flex;
	align-items: center;
	width: 100%;
	text-align:left;
	font-family:'Fira Sans', sans-serif;
	font-size: 15px;
	margin-bottom: 12px;
	color:#606161;
}

.img-licensing {
	margin-right:15px;
}

@media screen and (max-width: 600px) {
  .mobile-carm {
    visibility: hidden;
  }
}

@media screen and (min-width: 601px) {
  .screen-carm {
    visibility: hidden;
  }
}


.single #mvp-content-main .nc_socialPanel {
	display:none;
}

#mvp-content-main p a {
	transition-duration: .5s;
}

#mvp-content-main p a:hover, #mvp-content-main p a:focus {
	background: #76b243;
	color: #fff;
}

button.bg-green-button {
	transition: all 300ms ease-in-out;
}

button.bg-green-button:hover, button.bg-green-button:focus {
	background-color: #fff;
	color: #77b243 !important;
}

/* span.mvp-nav-search-but {
display:none;	
} */

.mvp-fixed span.mvp-nav-search-but {
float:none;
	padding:5px 10px;
	color:#fff;
	display:inline-block;
}

.flyout-search #searchform input {
	    width: 83%;
    margin: 0 auto;
    display: block;
    float: none;
	border:1px solid #76b243;
	padding:5px 10px;
}

nav.mvp-fly-nav-menu {
	top:58px;	
}

.mvp-nav-top-mid {
	z-index:9;
}

.mvp-post-soc-in {
    margin-left: 0;
}

h1.mvp-post-title {
	width:100%;
}

.fa-rss:hover {
	background:#F0941A;
}

.mvp-feat5-side-list .mvp-feat1-list-img:after {
	margin:8px 0 0;
}

#mvp-home-widget-wrap {
	margin-bottom:0;
}

#mvp-feat5-wrap {
	margin:0 0 30px;
}

#mvp-post-feat-img {
	display:none;
}

#mvp-content-main blockquote p, .mvp-post-add-main blockquote p {
	font-size:1.4rem;
	margin:30px 5%;
	font-style:italic;
	color:#75B243;
}

.menu-invert a {
    color: #ffffff!important;
    background: #000000;
    padding: 7px 12px 5px!important;
    margin-bottom: 13px;
	border-radius: 5px;
}

.menu-invert:hover a {
	border-bottom:0px!important;	
	background:#75B243;
}

.menu-invert ul.sub-menu {
	background:#000000!important;
	top:36px!important;	
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a {
background:#000000!important;	
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a img {
-webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
	 -webkit-transition: all .5s; 
  transition: all .5s;
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a:hover img {
-webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

.mvp-nav-menu ul li.menu-invert a:after, .elementor-form br, .elementor-element br {
	display:none!important;
}

.mvp-fly-soc-list span.mvp-nav-search-but {
	color: white;
    float: none;
    padding: 5px;
	display:inline-block;
}

#mvp-content-main ul li, #mvp-content-main ol li, .mvp-post-add-main ul li, .mvp-post-add-main ol li {
    margin-left: 30px;
}

#mvp-content-main blockquote p, .mvp-post-add-main blockquote p {
    font-size: 1.5em;
}

#mvp-feat6-wrap {
	max-width:100%!important;
}

@media screen and (max-width:1169px) {
	
	#mvp-main-nav-bot, .mvp-nav-soc-wrap, .mvp-nav-logo-reg {
	display:none;	
}

#mvp-main-nav-top, .mvp-nav-top-wrap, .mvp-nav-top-mid {
height:30px!important;	
}

.mvp-nav-top-mid img {
height:100%!important;	
}

.mvp-nav-logo-small, .mvp-nav-top-left .mvp-fly-but-wrap {
display:inline;	
}

.mvp-nav-top-left .mvp-fly-but-wrap span {
background:#ffffff;	
}

#mvp-content-main blockquote p, .mvp-post-add-main blockquote p {
	font-size:1.4rem;
	margin:30px 5%;
	font-style:italic;
	color:#75B243;
}

.menu-invert a {
    color: #ffffff!important;
    background: #000000;
    padding: 7px 12px 5px!important;
    margin-bottom: 13px;
	border-radius: 5px;
}


.menu-invert:hover a {
	border-bottom:0px!important;	
	background:#75B243;
}

.menu-invert ul.sub-menu {
	background:#000000!important;
	top:36px!important;	
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a {
	background:#000000!important;	
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a img {
	-webkit-filter: grayscale(100%); 
	  filter: grayscale(100%);
		 -webkit-transition: all .5s; 
	  transition: all .5s;
}

.mvp-nav-menu ul li.menu-invert ul.sub-menu li a:hover img {
	-webkit-filter: grayscale(0%); 
	  filter: grayscale(0%);
}
	
.mvp-nav-menu ul li.menu-invert a:after, .elementor-form br, .elementor-element br {
		display:none!important;
}


.mvp-fly-soc-list span.mvp-nav-search-but {
	color: white;
    float: none;
    padding: 5px;
	display:inline-block;
}

#mvp-content-main ul li, #mvp-content-main ol li, .mvp-post-add-main ul li, .mvp-post-add-main ol li {
    margin-left: 30px;
}


#mvp-content-main blockquote p, .mvp-post-add-main blockquote p {
    font-size: 1.5em;
}

#mvp-feat6-wrap {
	max-width:100%!important;
}

@media (max-width:1169px) {
	
	#mvp-main-nav-bot, .mvp-nav-soc-wrap, .mvp-nav-logo-reg {
		display:none;	
	}

	#mvp-main-nav-top, .mvp-nav-top-wrap, .mvp-nav-top-mid {
		height:30px!important;	
	}

	.mvp-nav-top-mid img {
		height:100%!important;	
	}

	.mvp-nav-logo-small, .mvp-nav-top-left .mvp-fly-but-wrap {
		display:inline;	
	}

	.mvp-nav-top-left .mvp-fly-but-wrap span {
		background:#ffffff;	
	}

	.mobile-subscribe {
		display:block!important;
		padding-top:2%;
	}

	.mobile-subscribe a {
		color:#ffffff;
		font-weight:normal;
	}

	.mobile-subscribe a:hover {
		color:#75B243;	
	}
	
}

@media screen and (min-width:1004px) and (max-width:1099px) {
	
	#mvp-feat6-wrap {
		max-width:100%!important;
	}

@media screen and (min-width:1003px) {

	.left span.mvp-nav-search-but {
		display:none;
	}

	.mvp-fixed span.mvp-nav-search-but, .mvp-nav-bot-right span.mvp-nav-search-but {
		display:inline-block;
	}	
}

@media screen and (max-width:1003px) {

	#mvp-main-nav-small .mvp-fly-but-wrap span, #mvp-main-nav-small .mvp-search-but-wrap span, .mvp-nav-top-left .mvp-fly-but-wrap span, #mvp-fly-wrap .mvp-fly-but-wrap span {
		background:#ffffff;	
	}

	.mvp-nav-top-left {
		width:auto;
	}
}

@media screen and (min-width:768px) and (max-width:899px) {
	
	#mvp-feat6-wrap {
		max-width:100%!important;
	}	
}

@media screen and (max-width: 599px) and (min-width: 480px) {

	.mvp-nav-top-right .mvp-nav-search-but {
		display:none!important;
	}	
}

@media screen and (max-width:479px) {

	#mvp-feat6-wrap {
	max-width:100%!important;	
	}

	.mvp-reg-img {
		display:block!important;
	}

.mvp-mob-img {
	display:none!important;
}
}

.jdbutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 17px 50px;
    border: 0px solid #240d54;
    border-radius: 67px;
    background: #280e5d;
    background: -webkit-gradient(linear, left top, left bottom, from(#280e5d), to(#240d54));
    background: -moz-linear-gradient(top, #280e5d, #240d54);
    background: linear-gradient(to bottom, #280e5d, #240d54);
    text-shadow: #14072f 1px 1px 1px;
    font: normal normal bold 28px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
}
.jdbutton:hover,
.jdbutton:focus {
    border: 0px solid #280e5d;
    background: #301170;
    background: -webkit-gradient(linear, left top, left bottom, from(#301170), to(#2b1065));
    background: -moz-linear-gradient(top, #301170, #2b1065);
    background: linear-gradient(to bottom, #301170, #2b1065);
    color: #ffffff;
    text-decoration: none;
}
.jdbutton:active {
    background: #180838;
    background: -webkit-gradient(linear, left top, left bottom, from(#180838), to(#240d54));
    background: -moz-linear-gradient(top, #180838, #240d54);
    background: linear-gradient(to bottom, #180838, #240d54);
}

table.greentable {
  border: 1px solid #76b243;
  background-color: #f5f5f5;
  width: 720px;
  text-align: center;
}
table.greentable td, table.greentable th {
  border: 3px solid #76b243;
  padding: 15px 0px;
}
table.greentable tbody td {
  font-size: 13px;
}
table.greentable tfoot td {
  font-size: 14px;
}
table.greentable tfoot .links {
  text-align: right;
}
table.greentable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
a.imagelink {
  border-bottom:0px;
	box-shadow: none !important;
}
.li-table {
	width:75%;
	overflow:auto;
}

.licensing {
	display:flex;
	align-items: center;
	width: 100%;
	text-align:left;
	font-family:'Fira Sans', sans-serif;
	font-size: 15px;
	margin-bottom: 12px;
	color:#606161;
}

.img-licensing {
	margin-right:15px;
}

.gpi-box-table {
	width:65%;
	display:flex;
	flex-direction: row;
	overflow:auto;
}

@media (max-width: 800px) {
	.gpi-box-table {
	  flex-direction: column;
	}
}
  
.gpi-box {
	align-items: center;
	width: 100%;
	text-align:center;
	font-family:'Fira Sans', sans-serif;
	font-size: 15px;
	margin-bottom: 12px;
	color:#606161;
}
  
.img-gpi-box {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.mobile-carm {
	  visibility: hidden;
	}
}
  
@media screen and (min-width: 601px) {
	.screen-carm {
	  visibility: hidden;
	}
}
  

/* END LEGACY CSS */
/* END LEGACY CSS */

/* WTF happened to the top margins?????? */

#mvp-main-body-wrap{
	margin-top:4%;
}

/* Remove space between muliple images */
.vc-multi-img {
	display: block;
	line-height: 0;
}

.vc-hidden {
	display: none;
}

/* body {
	background: hotpink !important;
} */

/* SCROLLING HEADER STYLING */

#mvp-main-nav-top-scroll {
	background: #000;
	padding: 15px 0;
	width: 100%;
	height: auto;
	z-index: 99999;
}

/* SECONDARY LINKS */
a.vc-secondary-link {
	box-shadow: none !important;
	border-bottom: 2px dotted #76b243;
	transition: all 0.5s ease-in-out;
}

a.vc-secondary-link:hover, a.vc-secondary-link:focus {
	background: transparent !important;
	color: #000 !important;
	border-bottom: 2px solid #76b243
}

/* BULLET POINT FONT */
#mvp-content-main ul li, #mvp-content-main ol li {
	font-family: 'Noto Serif', sans-serif;
}

/* RELATED POSTS - FONT/STYLE */
.mvp-post-tags span a{
	font-family: "Fira Sans", sans-serif;
	letter-spacing: .3px;
	text-transform: capitalize;
}


/* SINGLE PAGE SOCIAL LINX */
.spaceManWilly i.sw:visited, a.swp_share_link:visited {
	color: #fff;
	text-decoration-line: none;
}
.swp_social_panel .nc_tweetContainer {
	border-radius: 5px !important;
}

/* CONTRIBUTORS */
.mvp-author-info-name, .contributors, .contributor-list {
	display: flex;
	flex-direction: row;
}

.mvp-author-info-name span{
	margin-left: 7px;
}

.contributor-category {
	color: #999;
	font-weight: 300;
	margin-right: 7px;
}

.contributor-category:nth-of-type(1) {
	margin-left: 15px;
}

.contributor-name {
	margin-right: 10px
}

@media (max-width: 1000px) {

	.mvp-author-info-name, .contributors {
		display: flex;
		flex-direction: column;
	}

	.mvp-author-info-name span {
		transform: translateY(-14px);
		margin-left: 20px;
	}

	.contributor-category:nth-of-type(2) {
		margin-top: 10px;
}

	.contributor-category:nth-of-type(1) {
		margin-left: 0;
	}

	.contributor-name {
	margin-top: 5px
	}
}

/* END CONTRIBUTORS */

/* SUBSCRIBE FORMS */
.wpforms-required-label {
	display: none;
}

.mvp-nav-top-right{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
}

div.wpforms-container-full {
	margin: 0;
}

div.wpforms-confirmation-container-full {
	margin: 0;
	border: none;
	background: none;
	color: #76b243;
	text-align: center;
	padding: 0;
}

div.wpforms-confirmation-container-full p {
	font-family:"Fira Sans", sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

.vc-subscribe-sidebar-email label, .vc-subscribe-header-email label, .vc-subscribe-post-email label {
	font-size: 16px !important;
	line-height: 1.5 !important;
	font-family: "Noto Serif", serif;
}

.vc-subscribe-sidebar-email input, .vc-subscribe-header-email input, .vc-subscribe-post-email input {
	border-radius: 5px !important;
	font-family: "Fira Sans", sans-serif;
}

button.vc-subscribe-sidebar-button, button.vc-subscribe-header-button, button.vc-subscribe-post-button {
	background-color: #76b243 !important;
	border: 1px solid #76b243 !important;
	border-radius: 5px !important;
	color: #fff !important;
	font-size: 16px !important;
	font-family: "Fira Sans", sans-serif;
	transition: all .3s ease-in-out;
}

button.vc-subscribe-sidebar-button:hover, button.vc-subscribe-sidebar-button:focus, button.vc-subscribe-header-button:hover, button.vc-subscribe-header-button:focus, button.vc-subscribe-post-button:hover, button.vc-subscribe-post-button:focus {
		background-color: #fff !important;
	color: #76b243 !important;
}

#wpforms-form-140394{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 0 !important;
	max-height: 10px;
}

.vc-subscribe-header-email {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.vc-subscribe-header-email label {
	color: #fff;
	margin-right: 2% !important;
}

.vc-subscribe-header-email input {
	min-width: 60%;
}

button.vc-subscribe-header-button{
	transform: translate(-8px, -5px);
	padding: 25% 12px !important;
}

.vc-subscribe-sidebar-email label {
	margin-bottom: 18px !important;
}

.vc-subscribe-post{
	margin: 5% 0 !important;
}

.vc-subscribe-post-email label{
	margin-bottom: 20px !important;
	
}

@media (max-width: 1169px){
	.vc-subscribe-header {
		display: none;
	}
	.mvp-nav-top-right {
		justify-content: right
	}
}
/* END SUBSCRIBE FORMS */

/* SEARCH FORM */

.mvp-search-toggle {
	width: 25% !important;
	height: 10% !important;
	right: calc((100vw - 1215px) / 2) !important;
	left: unset !important;
	top: 190px !important;
	opacity: 0.96 !important;
}

.mvp-search-but-wrap {
	top: 5px;
	right: 5px;
	width:20px;
	height: 20px !important;
}

.mvp-search-but-wrap span{
	width: 20px !important;
	top: 8px !important;
}
#mvp-search-box {
	top: 55%;
	width: 85%;
	left: 32%;
}

#mvp-search-box form#searchform input#s {
	font-size: 130%;
	height: 60%;
}
@media (max-width: 1241px) {
	.mvp-search-toggle {
	right: 0px !important;
	
	}
}

/* NAV BAR */

#mvp-main-nav-bot-cont.left {
	padding: 20px 0;
}

.mvp-mega-dropdown {
	top: 70px !important;
}

.mvp-nav-menu ul li a {
	padding: 18px 7px;
}

.mvp-nav-menu ul li:hover a {
	padding: 18px 7px 13px;
}

#menu-header-menu {
	font-size: 98%;
}

#menu-item-127822 > a:nth-child(1) {
	color: #ffffff !important;
	background: #000000;
	padding: 7px 12px 5px !important;
	margin-bottom: 13px;
	border-radius: 5px;
}

#menu-item-127822 a::after {
	display: none;
}

#menu-item-127822:hover a, #menu-item-127822:focus a {
	padding: 18px 12px 13px;
	border-bottom: 0px !important;
	background: #75B243;
} 

#menu-item-127822 ul.sub-menu {
	transform: translateY(-14px);
}

#menu-item-127823 a {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	color: #fff !important;
	background: #000;
	margin-bottom: 0;
	transition: background 900ms ease-in-out;
}

#menu-item-127822:hover #menu-item-127823 a {
	background: #000;
}

#menu-item-127823 a:hover {
	background: #47357f !important;
	background: linear-gradient(270deg, rgba(237,214,0,1) 0%, rgba(166,207,85,1) 20%, rgba(97,159,142,1) 40%, rgba(67,122,131,1) 60%, rgba(74,57,122,1) 80%) !important;
}
/* elements menu item less faded */
#menu-item-123352 > a:nth-child(1) > img:nth-child(1) {
	filter: brightness(4);
}

#menu-item-123352 > a:nth-child(1) > img:nth-child(1):hover, #menu-item-123352 > a:nth-child(1) > img:nth-child(1):focus {
	filter: brightness(1);
}


/* FLYOUT MENU */

nav.mvp-fly-nav-menu {
	max-height: 80%;
	 width: 88%;
} 
	div#ascrails2000 {
		left: 355px !important;
}

div#ascrail2000-hr {
	display: none !important;
}

@media  (max-height: 921px) {
	div#ascrails2000 {
		opacity: 1 !important;
	}
}

/* hover effects */
.flyout-search #s {
	transition: all .25s ease;
	padding: 10px !important;
}

.flyout-search #searchform input {
	font-size: 18px;
	height: 20px;
}

.flyout-search #s:hover, .flyout-search #s:focus {
	box-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
}

nav.mvp-fly-nav-menu {
	margin-top: 0px;
}

.menu-top-menu-right-container ul li.menu-item-18025 a {
	font-family: "Fira Sans", sans-serif;
	font-size: 16px;
}

.menu-top-menu-right-container ul li.menu-item-object-category:hover a, .menu-top-menu-right-container ul li.menu-item-object-category:focus a,
.menu-top-menu-right-container ul li.menu-item-18025:hover a, .menu-top-menu-right-container ul li.menu-item-18025:focus a,
.menu-top-menu-right-container ul li.menu-item-18023:hover a, .menu-top-menu-right-container ul li.menu-item-18023:focus a,  .menu-top-menu-right-container ul li.menu-item-18024:hover a, .menu-top-menu-right-container ul li.menu-item-18024:focus a, .menu-top-menu-right-container ul li.menu-item-18020:hover a, .menu-top-menu-right-container ul li.menu-item-18020:focus a, .menu-top-menu-right-container ul li.menu-item-18023:hover a, .menu-top-menu-right-container ul li.menu-item-18023:focus a, .menu-top-menu-right-container ul li.menu-item-18019:hover a, .menu-top-menu-right-container ul li.menu-item-18019:focus a, .menu-top-menu-right-container ul li.menu-item-18026:hover a, .menu-top-menu-right-container ul li.menu-item-18026:focus a, .menu-top-menu-right-container ul li.menu-item-18022:hover a, .menu-top-menu-right-container ul li.menu-item-18022:focus a, .menu-top-menu-right-container ul li.menu-item-18018:hover a, .menu-top-menu-right-container ul li.menu-item-18018:focus a, .menu-top-menu-right-container ul li.menu-item-68822:hover a, .menu-top-menu-right-container ul li.menu-item-68822:focus a, .menu-top-menu-right-container ul li.menu-item-39670:hover a, .menu-top-menu-right-container ul li.menu-item-39670:focus a, .menu-top-menu-right-container ul li.menu-item-39671:hover a, .menu-top-menu-right-container ul li.menu-item-39671:focus a, .menu-top-menu-right-container ul li.menu-item-78165:hover a, .menu-top-menu-right-container ul li.menu-item-78165:focus a, .menu-top-menu-right-container ul li.menu-item-128001:hover a, .menu-top-menu-right-container ul li.menu-item-128001:focus a {
	color: #76b243;
}

.menu-top-menu-right-container ul li.menu-item-object-custom a img{
	transition: all .25s ease-in-out;
	width: 8090%;
}

.menu-top-menu-right-container ul li.menu-item-object-custom a:hover img, .menu-top-menu-right-container ul li.menu-item-object-custom a:focus img {
	transform: scale(1.5, 1.5);
}

.menu-top-menu-right-container ul li.menu-item-16386:hover a img, .menu-top-menu-right-container ul li.menu-item-16386:focus a img, .menu-top-menu-right-container ul li.menu-item-16281:hover a img, .menu-top-menu-right-container ul li.menu-item-16281:focus a img {
	transform: scale(1, 1);
}

.menu-top-menu-right-container ul li.menu-item-16386 a img, .menu-top-menu-right-container ul li.menu-item-16281 a img{
	width: 100%;
	padding: 0;
}

/* flyout socials hover effects */

.mvp-fly-soc-head {
	display: none !important;
}
.mvp-fly-soc-list li a {
	height: 24px !important;
	padding-top: 8px !important;
	font-size: 16px !important;
	transition: all .25s;
}

.mvp-fly-soc-list li a.fa-facebook:hover, .mvp-fly-soc-list li a.fa-facebook:focus {
	background-color: #4267B2;
}

.mvp-fly-soc-list li a.fa-twitter:hover, .mvp-fly-soc-list li a.fa-twitter:focus {
	background-color: #1DA1F2;
}


.mvp-fly-soc-list li a.fa-linkedin:hover, .mvp-fly-soc-list li a.fa-linkedin:focus {
	background-color: #2867b2;
}

.mvp-fly-soc-list li a.fa-youtube-play:hover, .mvp-fly-soc-list li a.fa-youtube-play:focus {
	background-color: #FF0000;
}

.mvp-fly-soc-list li a.fa-instagram:hover, .mvp-fly-soc-list li a.fa-instagram:focus {
	background-color: #e1306c;
	background: linear-gradient(0deg, rgba(255,220,128,1) 0%, rgba(252,175,69,1) 10%, rgba(247,119,55,1) 19%, rgba(245,96,64,1) 28%, rgba(253,29,29,1) 44%, rgba(193,53,132,1) 62%, rgba(131,58,180,1) 77%, rgba(88,81,219,1) 92%, rgba(64,93,230,1) 100%);
}

/* *END FLYOUT MENU* */

/* FEATURED COMPANY PAGE */
.feat-comp-cta span.elementor-cta__button {
    background-color: transparent !important;
    color: #252525 !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0;
    font-size: 20px;
    border: none;
}

.feat-comp-cta:hover span, .feat-comp-cta:focus span {
    color: #84C15B !important;
}

/* PRESS RELEASES */
.press.mvp-author-info-wrap {
	transform: translatex(-15px);
}

/* PRESS CENTRE */
.leadership-bio .elementor-cta__button-wrapper {
	display: unset !important;
}

.leadership-bio .elementor-cta__content-item {
	line-height: 1.5
}


.leadership-bio {
	margin-bottom: 15px;
}

.press-headline h2{
	font-size: 22px !important;
}

.press-signals-p {
	position: relative;
	z-index: 10;
}

.press-book-image {
	margin: -90px 0;
}

/* AUTHOR ARCHIVE */

.vc-author-position {
	font-family: 'Fira Sans', sans-serif;
	color: #222;
	font-size: 1.7rem;
	font-weight: 700;
	letter-spacing: -.02em;
	line-height: 1.1;
	margin-bottom: 10px;
	width: 100%;
}

span.mvp-author-page-desc {
	width: 65%;
	font-size: 0.95rem;
}

li.mvp-blog-story-wrap:nth-child(1) {
	border-top: none;
}

@media (max-width: 1199px){
	span.mvp-author-page-desc {
		width: 100%;
	}
}

/* FOOTER FOOTER */
#mvp-foot-bot {
	background: #111;
}

#menu-footer-01, #menu-footer-02 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

/* TABLEAU RESPONSIVENESS */
.tableau-tablet, .tableau-mobile, .tableau-desktop {
	display: block;
	margin: 0;
}

.tableau-tablet, .tableau-mobile {
	display: none;
	width: 100vw;
}

.vc-above-tableau, .vc-below-tableau{
		text-align: center;
		line-height: normal;
		margin: 10px 0;
}

@media (max-width: 1200px){
	.vc-above-tableau, .vc-below-tableau{
		width: 93vw;
	}
	.tableauPlaceholder {
		margin: 0 auto;
	}
	.tableau-desktop, .tableau-mobile {
		display: none;
	}
	.tableau-tablet{
		display: block;
		position: relative;
		left: -18px;
	}
}

@media (max-width: 800px){
	.tableau-desktop, .tableau-tablet {
		display: none;
	}
	.tableau-mobile{
		display: block;
		position: relative;
		left: -9px;
	}
}

/* SUBSCRIBE PAGE GROUP */

#mc-embedded-subscribe-form.mchimp-form {
	margin: 0;
	padding: 0;
}

#mce-EMAIL.mchimp-input {
	border: none;
	border-radius: 0;
	border-bottom: solid 1px #252525;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 400;
	line-height: 1.7em;
	color: #919ca7;
	font-size: 15px;
	min-height: 40px;
	padding: 5px 14px;
	width: 100%;
	max-width: 100%;
}

#mc-embedded-subscribe.mchimp-button {
	font-family: "Fira Sans", Sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.9em;
	letter-spacing: 4.1px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 0px 0px 0px 0px;
	min-height: 40px;
	padding: 12px 24px;
	transition: all .3s;
	background-color: #353535 !important;
	border-radius: 0 !important;
}

/* .mc-hidden-group {
	display: none;
} */

.vc-subscribe-page-email input {
	border: 1px solid transparent !important;
	border-bottom: 1px solid #353535 !important;
	border-radius: 0 !important;
	max-width: 100% !important;
	padding: 4% 3% !important;
	transition: all .3s ease-in-out;
}

.vc-subscribe-page-email input:hover, .vc-subscribe-page-email input:focus {
	border: 1px dotted #888888 !important;
	border-bottom: 1px solid #353535 !important;
	
}

.vc-subscribe-page-button {
	color: #fff !important;
	background-color: #353535 !important;
	border: none !important;
	font-family: "Fira Sans", sans-serif;
	text-transform: uppercase !important;
	letter-spacing: 4px !important;
	padding: 2% 5.5% !important;
	transition: all .3s ease-in-out;
	font-weight: 300; 
}

.vc-subscribe-page-button:hover, .vc-subscribe-page-button:focus {
	background-color: #76b243 !important;
}

/* END SUBSCRIBE PAGE GROUP */

/* POST SUB BUTTON (3rd party) */
.post-sub-button a {
	color: #fff;
	padding: 10px;
	display: inline-block;
	background: #76b243;
	font-family:'Fira Sans', sans-serif;
	border-radius: 5px;
	border: 1px solid #76b243;
}

.post-sub-button a:hover, .post-sub-button a:focus {
	background: #fff;
	color: #76b243;
}

.post-sub-button a:active {
	transform: transpose(2px 2px);
}

/* DATASTREAM WIDGET*/
/* back to top button to not interfere with datastream widget */

.mvp-fly-top {
	top: 90%;
}

.datastream-widget {
	margin-bottom: 50px;
}

.datastream-title {
	padding: 0 calc(.9vw + 50px) 50px calc(.9vw + 50px);
}

.datastream-title h4 span a {
	color: #fff;
}

.datastream-content-wrapper {
	background-color: #252525;
	padding: 50px;
	padding-top: 75px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	transition: all .45s ease;
}

.scroll-wrapper {
	width: 71vw;
	position: relative;
	transition: all .45s ease;
}

.scroller {
	width: 100%;
  position: relative;
	display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, calc(20vw - 40px));
  grid-template-rows: minmax(150px, 1fr);
  padding: 0;
	margin: 0;
	transition: all .45s ease;
}

.datastream-scroll-forward,  .datastream-scroll-back  {
	font-size: 35px;
	line-height: 100%;
	color: #fff;
	border: none;
	background: rgba(0,0,0,.3);
	height: 40px;
	width: 40px;
	position: absolute;
	text-align: center;
	top: 35%;
	z-index: 10;
}

.datastream-scroll-forward {
	right: -2vw;
}

.datastream-scroll-back {
	left: 0;
	display: none;
}

.datastream-scroll-forward:hover, .datastream-scroll-forward:focus,  .datastream-scroll-back:hover, .datastream-scroll-back:focus {
	background: #76b243;
	color: #000;
}

.black-box {
	position: absolute;
	height: 100%;
	width: 21.5vw;
	background-color: #252525;
	left: 0;
	top: 0;
	z-index: 5;
}

.datastream-featured-content-card {
	z-index: 10;
	background-color: #252525;
	margin: 0;
	width: calc(20vw - 40px);
	transition: all 300ms ease-in-out;
}

.datastream-featured-image {
	position: relative;
}

.datastream-featured-thumbnail {
	box-shadow: -1.8vw -1.8vw 0 0 #76b243, 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	transition: all 300ms ease-in-out;
}

.datastream-featured-content-card:hover img, .datastream-featured-content-card:focus img {
	box-shadow: -1.8vw -1.8vw 0 10px #76b243;
}

.datastream-featured-content-card:hover .datastream-post-title, .datastream-featured-content-card:focus .datastream-post-title, .datastream-content-card:hover h2, .datastream-content-card:focus h2  {
	opacity: 0.75;
}

.datastream-content-card:hover img, .datastream-content-card:focus img {
	transform: scale(1.1);
}

.datastream-content-card {
	width: calc(20vw - 40px);
	margin: 0 .9vw;
}

.datastream-post-title {
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2vw;
	text-transform: uppercase;
	margin-top: .9vw;
	transition: all 300ms ease-in-out;
}

.datastream-thumbnail {
	box-shadow: 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25), -0.3vw -0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25), -0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25), 0.3vw -0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	transition: all 300ms ease-in-out;
}

.featured-label {
	color: white;
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.5vw;
	font-weight: 600;
	position: absolute;
	z-index: 10;
	margin: 0;
	padding: 0;
	top: -1.6vw;
	right: 2.4vw;
}

@media (max-width: 1300px) {
	.scroll-wrapper {
	width: 71vw;
	transform: translateX(0);
	}
	.scroller {
  grid-gap: 10px;
  grid-template-columns: repeat(12, calc(20vw - 40px));
  grid-template-rows: minmax(50px, 1fr);
	}
	.datastream-content-card {
		flex-direction: column;
		justify-content: flex-start;
	}
	.datastream-post {
		width: 16vw;
	}
	a.datastream-title-link h2 {
		max-width: 16vw;
	}
}

@media (max-width: 800px) {
	.datastream-content-wrapper {
		padding: 75px 10px 25px 10px;
		flex-direction: column;
		align-items: center;
	}
	.black-box{
		display: none;
	}
	.scroller {
		grid-gap: 0;
		grid-template-columns: repeat(12, 20vw);
		transform: translateX(-5vw);	}

	.datastream-post {
	width: 17vw;
	}

	.datastream-featured-content-card, .datastream-featured-content-card h2{
		min-width: 45vw;
		font-size: 2vw;
		margin-bottom: 15px;
	}

	.datastream-featured-thumbnail {
		box-shadow: -3.6vw -3.6vw 0 0 #76b243, 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	}

	.scroller {
		grid-gap: 0;
		grid-template-columns: repeat(1, 28vw);
		transform: translateX(9vw);
		left: 0 !important;
	}

	.datastream-scroll-forward,  .datastream-scroll-back {
		display: none !important;
	}
	.datastream-content-card {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 50vw;
		margin-bottom: 50px;
	}
	.datastream-content-wrapper {
		padding-left: 25px;
		padding-right: 25px;
		align-items: center;
	}

	.datastream-post {
		width: 50vw;
	}

		a.datastream-title-link h2 {
		max-width: 58vw;
			width: 50vw;
			font-size: 3vw;
	}

	.datastream-featured-content-card, .datastream-featured-content-card a h2 {
		width: 50vw;
		font-size: 3.2vw;
	}

		h2.featured-label {
		top: -3.4vw;
		right: -31vw;
	}
	.datastream-content-card:nth-child(4), .datastream-content-card:nth-child(5),	.datastream-content-card:nth-child(6), .datastream-content-card:nth-child(7),	.datastream-content-card:nth-child(8),	.datastream-content-card:nth-child(9),	.datastream-content-card:nth-child(10),	.datastream-content-card:nth-child(11),	.datastream-content-card:nth-child(12) {
		display: none;
	}
}
/* END DATASTREAM */

/* GPI */
/* header */
#mvp-main-nav-top.gpi {
	background-color: #D9D5CE;
}

span.mvp-nav-soc-but.gpi {
	background: #45383B;
	transition: all 300ms ease-in-out;
/* 	border: 2px solid #45383B; */
}

span.mvp-nav-soc-but.gpi:hover, span.mvp-nav-soc-but.gpi:focus {
	color: #D9D5CE;
	box-shadow: inset 0 0 10px #45383B;
}

.gpi.mvp-nav-top-mid {
	line-height: 1;
	font-family: 'Fira Sans', sans-serif;
}

.gpi-logo-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gpi-logo {
	display: block;
	text-transform: uppercase;
	font-size: 3rem;
	text-align: left;
	letter-spacing: 7px;
	color: #45383B;
	font-family: 'Poppins', sans-serif;
}

h1.gpi span {
	font-weight: 400;
	font-size: 2.5rem;
	letter-spacing: 5px;
	color: #45383B;
		
}

.mvp-nav-top-right.gpi {
	display: block;
	right: 0vw;
	margin-top: -8px;
	top: 50%;
	width: 100%;
	height: 40px;
}

h2.viscap {
	font-size: 14px;
	color: #45383B !important;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Fira Sans', sans-serif;
}

a span.viscapbold {
	color: #45383B !important;
	display: inline-block;
	transform: translateY(1px);
	font-size: 18px;
	font-weight: 700;
	margin-left: 15px;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 400ms;
}

a span.viscapbold:hover, a span.viscapbold:focus {
	transform: scale(1.1);
}

a span.viscapbold:visited {
	color: #45383B !important;
}

.gpi.mvp-fly-but-wrap, span.gpi.mvp-nav-search-but {
	display: none;
}

#mvp-nav-bot-wrap .gpi.mvp-nav-menu ul li a {
	color: #45383B;
}

.gpi.mvp-nav-menu ul li:hover a {
	border-bottom: 5px solid #45383B;
}

.gpi.mvp-nav-menu ul li.menu-item-126693, .gpi.mvp-nav-menu ul li.menu-item-125907, .gpi.mvp-nav-menu ul li.menu-item-126695, .gpi.mvp-nav-menu ul li.menu-item-126696, .gpi.mvp-nav-menu ul li.menu-item-126697, .gpi.mvp-nav-menu ul li.menu-item-126698, .gpi.mvp-nav-menu ul li.menu-item-126699, .gpi.mvp-nav-menu ul li.menu-item-126700 {
	visibility: inherit;
}

.gpi.mvp-nav-menu ul li.menu-item-126695:hover a {
	border-bottom: 5px solid #4A397A;
}

.gpi.mvp-nav-menu ul li.menu-item-126696:hover a {
	border-bottom: 5px solid #437A83;
}

.gpi.mvp-nav-menu ul li.menu-item-126697:hover a {
	border-bottom: 5px solid #619F8E;
}

.gpi.mvp-nav-menu ul li.menu-item-126698:hover a {
	border-bottom: 5px solid #68A45F;
}

.gpi.mvp-nav-menu ul li.menu-item-126699:hover a {
	border-bottom: 5px solid #A6CF55;
}

.gpi.mvp-nav-menu ul li.menu-item-126700:hover a {
	border-bottom: 5px solid #e2d048;
}

/* footer */
.gpi.footer-logo {
	line-height: 1;
	color: #D9D5CE;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: 3px;
	transition: all 500ms ease-in-out;
}

.gpi.footer-logo:hover, .gpi.footer-logo :focus {
	transform: scale(1.1);
}

ul.mvp-foot-soc-list.gpi li a,
.gpi#mvp-foot-menu a, .gpi#mvp-foot-copy p {
	color: #D9D5CE !important;
}

/* content area */
.gpi#mvp-content-main {
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
	padding: 0 15px;
}

p.gpi.breadcrumb, p.gpi.breadcrumb a, .gpi-download-link {
	font-family: 'Fira Sans', sans-serif !important;
	font-size: 16px !important;
	font-weight: 300 !important;
	color: #619F8E !important;
	box-shadow: none !important;
}

.gpi.social-buttons .swp_social_panel.swp_individual_full_color:hover .nc_tweetContainer,
.gpi.social-buttons .swp_share_button {
	background-color: #45383B;
	border-color: #45383B;
	border-radius: 10px !important;
}

p.gpi.breadcrumb a:hover, p.gpi.breadcrumb a:focus, .gpi-download-link:hover, .gpi-download-link:focus {
	color: #A6CF55 !important;
	background: transparent !important;
}

.gpi.front-vc-heading a:hover, .gpi.front-vc-heading a:focus {
	color: #619F8E;
}

.gpi .elementor-cta__content a {
	color: #619F8E;
}

.gpi .elementor-cta__content a:hover, .gpi .elementor-cta__content a:focus {
	color: #A6CF55;
}
/* sticky sidebar */

.gpi.download-sidebar {
	text-align: right;
	width: 6%;
	background-color: #45383B;
	opacity: 0.7;
  position: fixed;
	right: 0;
	top: 200px;
	display: flex;
	flex-direction: column;
	border-radius: 20px 0 0 20px;
	padding: 1.5%;
	z-index: 9999;
	transition: all 500ms ease-in-out;

}

.gpi.download-sidebar:hover, .gpi.download-sidebar:focus {
	box-shadow: inset 0 0 10px 3px #000;
}

.gpi.download-sidebar p, .gpi.download-sidebar a {
	color: #D9D5CE;	
	font-family: 'Fira Sans', sans-serif;
}

.gpi.download-sidebar a {
	font-weight: 600;
	transition: all 500ms ease-in-out;
}

.gpi.download-sidebar a:hover, .gpi.download-sidebar a:focus {
	text-shadow: 3px 3px 5px #000;
}

/* banner hero text */ 

#mvp-content-main .gpi.hero-text-right, #mvp-content-main .gpi.hero-text-left, #mvp-content-main .gpi.hero-text-year {
	color: #45383B;
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1.3%;
	margin: 0;
	position: absolute;
}

#mvp-content-main .gpi.hero-text-right, #mvp-content-main .gpi.hero-text-left {
	top: 35px;
}

#mvp-content-main .gpi.hero-text-left{
	left: 10px;
}

#mvp-content-main .gpi.hero-text-right{
	left: 275px;
}

#mvp-content-main .gpi.hero-text-year {
	font-size: 55px;
	font-weight: 300;
	top: 140px;
	left: 415px;
}

@media (max-width: 1630px) {
	#mvp-content-main .gpi.hero-text-right, #mvp-content-main .gpi.hero-text-left {
	font-size: 1.2vw;
	}
}

@media (max-width: 1520px) {
	#mvp-content-main .gpi.hero-text-right{
		left: 17.5vw;
	}
	#mvp-content-main .gpi.hero-text-year {
		top: 9vw;
		left: 27vw;
		font-size: 3.5vw
	}
}

@media (max-width: 1157px) {
	#mvp-content-main .gpi.hero-text-left{
	left: 0;
	}
	#mvp-content-main .gpi.hero-text-year {
		left: 26vw;
	}
}

@media (max-width: 1070px) {
	#mvp-content-main .gpi.hero-text-right{
		left: 17vw;
	}
}

@media (max-width: 1000px) {
	#mvp-content-main .gpi.hero-text-right, #mvp-content-main .gpi.hero-text-left {
	font-size: 1.1vw;
	}
	#mvp-content-main .gpi.hero-text-right{
	left: 18vw;
	}
	#mvp-content-main .gpi.hero-text-year {
		top: 8vw;
		left: 25vw;
	}
}

@media (max-width: 767px) {
	#mvp-content-main .gpi.hero-text-left{
		display: none;
	}
	#mvp-content-main .gpi.hero-text-right {
		font-size: 10vw;
		line-height: 1.2;
		left: 1.5vw;
		top: 67vw;
	}
	#mvp-content-main .gpi.hero-text-year {
		display: none;
	}
}

@media (max-width: 460px) {
	#mvp-content-main .gpi.hero-text-right {
		left: 0;
		top: 54vw;
	}
}

@media (max-width: 415px) {
	#mvp-content-main .gpi.hero-text-right {
		top: 49vw;
	}
}

@media (max-width: 360px) {
	#mvp-content-main .gpi.hero-text-right {
		top: 45vw;
	}
}
/* header shrink on scroll */

.gpi-logo.scroll-shrink {
	font-size: 2rem;
	display: inline;
	transition: all 0.4s ease;
}

h1.gpi span.scroll-shrink {
	font-size: 2rem;
	margin-left: 15px;
	transition: all 0.4s ease;
}
/* misc elementor style fixes */
.gpi .elementor-cta__bg{
	background-size: contain;
	background-repeat: no-repeat;
	}


@media (max-width: 1365px) {
	.gpi.download-sidebar{
		font-size: 14px;
	}
}

@media (max-width: 1200px) {
	.gpi.download-sidebar{
		font-size: 12px;
	}
	.gpi.download-sidebar p {
	font-weight: 300;
	}
	.gpi.download-sidebar a {
	font-weight: 400;
	}
}
	
@media (max-width: 1169px) {
	.gpi .mvp-nav-top-left-in{
		margin: 0;
	}
	.gpi-logo-container{
		position: absolute;
		left: 0;
	}
	.gpi-logo, .gpi-logo.scroll-shrink { 
		font-size: 1.5rem;
		display: inline;
	}
	h1.gpi span, h1.gpi span.scroll-shrink {
		font-size: 1.5rem;
		margin-left: 10px;
	}
}
	
@media (max-width: 840px) {
	.gpi-logo, .gpi-logo.scroll-shrink { 
		font-size: 1rem;
		display: block;
	}
	h1.gpi span, h1.gpi span.scroll-shrink {
		font-size: 1rem;
		margin-left: 0px;
	}
	.mvp-nav-top-right.gpi {
		height: 30px;
	}

	a span.viscapbold {
		font-size: 1rem;
		margin-left: 5px;
		letter-spacing: 2px;
	}
}
	
@media (max-width: 780px) {
	.gpi .elementor-cta__bg-wrapper {
		display: none;
	}
 .gpi .elementor-cta__content {
		padding: 0px !important;
	}
	.gpi.download-sidebar{
		font-size: 10px;
	}
}
	
@media (max-width: 767px) {
	.elementor-125635 .elementor-element.elementor-element-8247507 > .elementor-widget-container{
		margin: 0px !important;
		text-align: center;
	}
	.elementor-125635 .elementor-element.elementor-element-ec14dde .elementor-text-editor {
		margin-bottom: 10%;
	}
	.gpi .elementor-125635 .elementor-element.elementor-element-a145914 {
		background-image: url("https://www.visualcapitalist.com/wp-content/uploads/2021/04/Main-Banner_Mobile_Blank_1200.jpg") !important;
		min-height: 110vw;
	}
	.gpi .elementor-125635 .elementor-element.elementor-element-ab86585 {
		display: none;
	}
}
	
@media (max-width: 600px) {
	.gpi.download-sidebar{
		width: 60px;
		font-size: 12px;
		opacity: 0.6;
	}
	.gpi.download-sidebar p {
	display: none;
	}
	.gpi.download-sidebar a {
		margin: 0;
		padding: 5px 0 5px 5px;
	}
}

@media (max-width: 460px) {
	.gpi-logo, .gpi-logo.scroll-shrink {
		letter-spacing: 2px;
	}
	h1.gpi span, h1.gpi span.scroll-shrink {
		letter-spacing: 2px;
	}
	a span.viscapbold {
		font-size: 1rem;
		margin-left: 0;
		letter-spacing: 1px;
	}
	.elementor-element-8247507 > div:nth-child(1) > h2:nth-child(1) {
		font-size: 14px !important;
	}
	.gpi  .elementor-element.elementor-element-a145914, .gpi .elementor-element.elementor-element-566a20b, .gpi .elementor-column.elementor-col-50,.gpi .elementor-element.elementor-element-93625e9  {
		margin-top: 50px !important;
	}
	.gpi .elementor-heading-title {
		font-size: 22px !important;
	}
}

/* download links */

.gpi.gpi-download-button{
	border: none;
	font-family: 'Fira Sans', sans-serif !important;
	font-size: 16px;
	font-weight: 300;
	color: #619F8E !important;
	background: none;
	box-shadow: none;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #A6CF55;
	line-height: 1.2;
}

.gpi.gpi-download-button-1 {
	margin-left: 15%;
	padding: 15px 0 15px 0;
}

.gpi.gpi-download-button a:hover, 
.gpi.gpi-download-button a:focus{
	color: #A6CF55 !important;
	box-shadow: none;
	background: none;
}

/* generation pages */
.gpi-gen-nav i{
    font-size: 13px;
    padding: 0 5px;
}

.gpi-gen-nav{
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    transition:all 500ms ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 45px;
    font-size: 14px;
}

.gpi-gen-nav-forward{
    float:right;
}

.gpi-gen-nav-back{
    float: left;
}

.gpi-nav-silent, a.gpi-nav-silent:visited{
    color:#4A397A!important;
}

.gpi-nav-boomers, a.gpi-nav-boomers:visited{
    color:#437A83 !important;
}

.gpi-nav-genx, a.gpi-nav-genx:visited{
    color:#619F8E !important;
}

.gpi-nav-millennials, a.gpi-nav-millennials:visited{
    color:#68A45F !important;
}

.gpi-nav-genz, a.gpi-nav-genz:visited{
    color:#A6CF55 !important;
}

.gpi-nav-alpha, a.gpi-nav-alpha:visited{
    color:#edd600 !important;
}

.hover {
  padding: 0;
  transition:all 0.2s ease-in-out;
  position: relative;
  display: inline-block;
}

.hover::before, .hover::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 2px;
    margin: 5px 0 0;
    transition:all 0.75s ease-in-out;
    opacity: 0;
}

.gpi-nav-silent .hover::before, .gpi-nav-silent .hover::after{
    background-color: #4A397A;
}

.gpi-nav-boomers .hover::before, .gpi-nav-boomers .hover::after{
    background-color: #437A83;
}

.gpi-nav-genx .hover::before, .gpi-nav-genx .hover::after{
    background-color: #619F8E;
}

.gpi-nav-millennials .hover::before, .gpi-nav-millennials .hover::after{
    background-color: #68A45F;
}

.gpi-nav-genz .hover::before, .gpi-nav-genz .hover::after{
    background-color: #A6CF55;
}

.gpi-nav-alpha .hover::before, .gpi-nav-alpha .hover::after{
    background-color: #edd600;
}

.hover-ltr::before, .hover-ltr::after{
    left:0;
}

.hover-rtl::before, .hover-rtl::after{
    right: 0;
}

.hover:hover::before, .hover:hover::after, .hover:focus::before, .hover:focus::after{
    width: 100%;
    opacity: 1;
}

#mvp-content-main.gpi .gpi-headings {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	font-size: 2.5rem;
	color: #45383B;
	margin: 0;
	letter-spacing: 1px;
}

#mvp-content-main.gpi .gpi-copy{
	color: #45383B;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	font-size: 16px;
}
/* END GPI */