/* DATASTREAM WIDGET*/
/* back to top button to not interfere with datastream widget */

.mvp-fly-top {
	top: 90%;
}

.datastream-widget {
	margin-bottom: 50px;
}

.datastream-title {
	padding: 0 calc(.9vw + 50px) 50px calc(.9vw + 50px);
}

.datastream-title h4 span a {
	color: #fff;
}

.datastream-content-wrapper {
	background-color: #252525;
	padding: 50px;
	padding-top: 75px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	transition: all .45s ease;
}

.scroll-wrapper {
	width: 71vw;
	position: relative;
    margin-left: 5%;
	transition: all .45s ease;
}

.flickity-viewport {
	height: 100%;
	width: 100%;
}

.datastream-featured-content-card {
	z-index: 10;
	background-color: #252525;
	margin: 0;
	width: calc(20vw - 40px);
	transition: all 300ms ease-in-out;
}

.datastream-featured-image {
	position: relative;
}

.datastream-featured-thumbnail {
	box-shadow: -1.8vw -1.8vw 0 0 #89b14d, 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	transition: all 300ms ease-in-out;
}

.datastream-featured-content-card:hover img, .datastream-featured-content-card:focus img {
	box-shadow: -1.8vw -1.8vw 0 10px #89b14d;
}

/* .datastream-overlay:hover h2, .datastream-overlay:focus h2 {
	padding: 35% 5%;
} */

.datastream-content-card {
	width: calc(20vw - 40px);
	margin: 0 .9vw;
	transition: all 300ms ease-in-out;
}

.datastream-content-card:hover, .datastream-content-card:focus {
	box-shadow: 10px 0 0 8px #89b14d;
}

.datastream-post-title {
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 1.2vw;
	text-transform: uppercase;
	margin-top: .9vw;
	transition: all 300ms ease-in-out;
}

/* .datastream-thumbnail {
	box-shadow: 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25), -0.3vw -0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25), -0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25), 0.3vw -0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	transition: all 300ms ease-in-out;
} */

/* .datastream-overlay {
    position: absolute;
    top: 0;
    text-align: center;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
	transition: all 300ms ease-in-out;
}

.datastream-overlay h2 {
    padding: 20% 5%;
    background: rgba(0,0,0, 0.75);
    background: -moz-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.65) 25%, rgba(0,0,0, 0.75) 50%, rgba(0,0,0, 0.65) 75%, rgba(0,0,0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.65) 25%, rgba(0,0,0, 0.75) 50%, rgba(0,0,0, 0.65) 75%, rgba(0,0,0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.65) 25%, rgba(0,0,0, 0.75) 50%, rgba(0,0,0, 0.65) 75%, rgba(0,0,0, 0) 100%);
    letter-spacing: 0.05em;
	line-height: 1.4;
} */

.featured-label {
	color: white;
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	font-size: 1.5vw;
	font-weight: 600;
	position: absolute;
	z-index: 10;
	margin: 0;
	padding: 0;
	top: -1.6vw;
	right: 2.4vw;
}

.flickity-button {
    background: transparent;
    color: #fff;
	transition: all 300ms ease-in-out;
}

.flickity-button-icon {
    fill: #fff;
}

.flickity-button:hover {
    background: transparent;
}

.flickity-button:hover .flickity-button-icon {
    fill: #89b14d;
}

.flickity-prev-next-button.previous {
    left: -2.5vw;
}

.flickity-prev-next-button.next {
    right: -2.5vw;
}

@media (max-width: 999px) {
	.datastream-content-wrapper {
		padding: 25px;
		padding-top: 50px;
		flex-direction: column;
		align-items: center;
	}
	.datastream-featured-content-card {
		width: 25vw;
		margin-bottom: 2.5%;
	}
	.datastream-featured-overlay {
		width: 100%;
	}
	.datastream-overlay h2 {
		letter-spacing: 0.04em;
		font-size: 1.35vw;
	}
	.scroll-wrapper {
		width: 90vw;
		margin-left: 0;
	}
	.datastream-content-card {
		width: 20vw;
		margin: 0 2%;
	}
	.datastream-post {
		width: 100%;
	}
	.flickity-prev-next-button.previous {
		left: -3.5vw;
	}
	.flickity-prev-next-button.next {
		right: -3.5vw;
	}
	.flickity-prev-next-button {
		top: 50%;
	}
}

@media (max-width: 800px) {
	.datastream-content-wrapper {
		padding: 75px 10px 50px 10px;
	}
	.datastream-featured-content-card{
		min-width: 45vw;
		font-size: 2vw;
		margin-bottom: 5%;
	}
	.datastream-featured-thumbnail {
		box-shadow: -3.6vw -3.6vw 0 0 #89b14d, 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	}
	.datastream-content-card {
		width: 35vw;
	}
	.datastream-overlay h2 {
		font-size: 2.2vw;
	}
	.featured-label {
		font-size: 3vw;
		top: -3.4vw;
		right: 5vw;
	}
	.datastream-featured-content-card:hover img, .datastream-featured-content-card:focus img {
		box-shadow: -3.6vw -3.6vw 0 10px #89b14d, 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	}
	.flickity-button {
		display: none;
	}
}

@media (max-width: 450px) {
	.datastream-content-wrapper {
		padding: 50px 5% 25px 5%;
	}
	.datastream-featured-content-card{
		min-width: 75vw;
		font-size: 5vw;
		margin-bottom: 5%;
	}
	.datastream-featured-thumbnail {
		box-shadow: -3.6vw -3.6vw 0 0 #89b14d, 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	}
	.datastream-content-card {
		width: 50vw;
	}
	.datastream-overlay h2 {
		font-size: 4vw;
	}
	.datastream-featured-thumbnail {
		box-shadow: -5.4vw -5.4vw 0 0 #89b14d, 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.25);
	}
	.featured-label {
		font-size: 5vw;
		top: -5vw;
		right: 6vw;
	}
}
/* END DATASTREAM */